# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment / secrets
.env
.env.*

# Dataset
data/

# ML training files
models/resnet50_tomato_best.keras
models/resnet50_tomato_finetuned_final.keras
models/finetuning_history.npy
models/resnet50_tomato_finetuned_best.keras